
<div class="content_wrapper">
  <div class="content">
<p id="notice"><%= notice %></p>

<p>
  <strong>标题：</strong>
  <%= @category.title %>
</p>

<!-- <p>
  <strong>Desc:</strong>
  <%#= @category.desc %>
</p>

<p>
  <strong>Father:</strong>
  <%#= @category.father_id %>
</p>

<p>
  <strong>Position:</strong>
  <%#= @category.position %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%#= @category.deleted_at %>
</p> -->

<%= link_to '编辑', edit_admin_category_path(@category) %> |
<%= link_to '返回', admin_categories_path %>
</div>
</div>