# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\60\个人网站\DiamondAlliance\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
